{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe
{% endblock %}

{% block body %}

	<h1>Réinitialisation de mot de passe</h1>

	{% if app.flashes('success') %}
		<div class="alert alert-success">
			{{ app.flashes('success')|first }}
		</div>
	{% endif %}

	{% if app.flashes('error') %}
		<div class="alert alert-danger">
			{{ app.flashes('error')|first }}
		</div>
	{% endif %}

	<form method="post">
		<label for="email">Entrez votre adresse e-mail</label>
		<input type="email" id="email" name="email" required>

		<button type="submit">Envoyer le lien de réinitialisation</button>
	</form>
{% endblock %}
