<footer class="site-footer">
	<div class="footer-container">
		<a href="{{ path('app_meeting_index') }}" class="footer-brand">
			<img src="{{ asset('assets/images/logo.svg') }}" alt="Logo" class="footer-logo">
		</a>
		<ul class="footer-nav nav-list">
			<li class="nav-item">
				<a href="#" class="footer-link">CONTACT</a>
			</li>
			<li class="nav-item">
				<a href="#" class="footer-link">POLITIQUE DES COOKIES</a>
			</li>
			<li class="nav-item">
				<a href="#" class="footer-link">BLABLA</a>
			</li>
		</ul>
	</div>
</footer>
