{{ form_start(form) }}
<div class="form-group">
	{{ form_widget(form) }}
</div>
<div class="login-buttons">
	<button class="btn btn-login">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
