{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/index.css') }}">
{% endblock %}

{% block title %}New Meeting
{% endblock %}

{% block body %}
	<section class="login-container">
		<div class="login-box">
			<div class="login-content">
				<header class="login-header">
					<h1>Create new Meeting</h1>
				</header>

				<div class="card-body">
					{{ include('meeting/_form.html.twig') }}
				</div>

				<div class="login-buttons">
					<a href="{{ path('app_meeting_index') }}" class="btn btn-secondary">Back to list</a>
				</div>
			</div>
			<div class="login-image"></div>
		</div>
	</section>
{% endblock %}
