{% extends 'base.html.twig' %}

{% block meta %}
	<meta name="description" content="Contactez notre équipe pour obtenir des informations sur nos activités et nos événements.">
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/Autres/contact.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<div class="container py-5">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<h1 class="text-center mb-4">CONTACTEZ-NOUS</h1>
				<p class="text-center mb-5">Voici les informations pour contacter notre équipe :</p>

				<div class="row">
					<div class="col-md-8">
						<div class="card shadow">
							<div class="card-body">
								<div class="contact-info mb-4">
									<i class="fas fa-user text-primary"></i>
									<span>Nom : Colette</span>
								</div>
								<div class="contact-info mb-4">
									<i class="fas fa-envelope text-primary"></i>
									<span>Email : colette@reucap.fr</span>
								</div>
								<div class="contact-info mb-4">
									<i class="fas fa-phone text-primary"></i>
									<span>Téléphone : 06 08 09 14 15</span>
								</div>
								<div class="contact-info">
									<i class="fas fa-map-marker-alt text-primary"></i>
									<span>Adresse : Ecole Albert Camus, 9 Bis Impasse Albert CAMUS, 42160 ANDREZIEUX BOUTHEON</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="image-frame">
							<img src="{{ asset('images/bgContact.jpg') }}" alt="Image de contact" class="img-fluid rounded">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
