body {
    background-image: url("../../images/bgContact.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffebee;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 5rem;
}