body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin-top: 5rem;
}

@media (max-width: 768px) {
    body {
        margin-top: 3rem;
    }
}


@media (max-width: 576px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}