.container {
    flex: 1;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 1.5rem;
    box-sizing: border-box;
}

/* Titre principal */
.Title {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
    text-transform: uppercase;
}

/* Styles de la carte */
.card {
    background-color: #0505051a;
    border-radius: 10px;
    box-shadow:
        0 8px 16px rgba(0, 0, 0, 0.1),
        0 16px 32px rgba(0, 0, 0, 0.1),
        0 4px 8px rgba(255, 255, 255, 0.1) inset;
    overflow: hidden;
    width: 100%;
    margin-bottom: 2rem;
    padding: 1.5rem;
    position: relative;
}

.card-header,
.card-body,
.card-footer {
    padding: 1.2rem;
}

.card-Title {
    font-size: 2rem;
    color: #370617;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

/* Styles des formulaires */
.form-group {
    margin-bottom: 1.5rem;
    position: relative;
}

.form-group label {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    display: block;
    color: #370617;
}

.form-control {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.flex-grow {
    flex-grow: 1;
    width: 100%;
}

/* Media queries */
@media (max-width: 768px) {

    .card-body,
    .form-group label,
    .form-control {
        font-size: 1.1rem;
    }
}