.meeting-page {
    --meeting-primary-color: #370617;
    --meeting-secondary-color: #DC2F02;
    --meeting-bg-color: #f8f9fa;
    --meeting-text-color: #333;
    --meeting-danger-color: #9D0208;

    padding: 2rem 0;
    background-color: var(--meeting-bg-color);
    color: var(--meeting-text-color);
}
body {
    margin-top: 5rem;
}
.meeting-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;
}

.meeting-title {
    text-align: center;
    color: var(--meeting-primary-color);
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.meeting-card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow:
        0 8px 16px rgba(0, 0, 0, 0.1),
        0 16px 32px rgba(0, 0, 0, 0.1),
        0 4px 8px rgba(255, 255, 255, 0.1) inset;
    overflow: hidden;
    margin-bottom: 2rem;
}

.meeting-card-header {
    background-color: var(--meeting-primary-color);
    color: #fff;
    padding: 1.5rem;
}

.meeting-card-title {
    margin: 0;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.meeting-card-body {
    padding: 1.5rem;
}

.meeting-card-footer {
    background-color: #f1f3f5;
    padding: 1.5rem;
}

.meeting-form-group {
    margin-bottom: 1.5rem;
}

.meeting-form-label {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    display: block;
    color: var(--meeting-primary-color);
}

.meeting-form-control {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 50px;
}

.meeting-actions {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.meeting-btn {
    flex: 1;
    min-width: 150px;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.meeting-btn-primary {
    background-color: var(--meeting-primary-color);
}

.meeting-btn-primary:hover {
    background-color: #ffb908b9;
    transform: translateY(-2px);
}

.meeting-btn-danger {
    background-color: var(--meeting-secondary-color);
}

.meeting-btn-danger:hover {
    background-color: var(--meeting-danger-color);
    transform: translateY(-2px);
}

.meeting-btn i {
    margin-right: 0.5rem;
}

@media (max-width: 768px) {
    .meeting-title {
        font-size: 2rem;
    }

    .meeting-card-title {
        font-size: 1.8rem;
    }

    .meeting-form-label,
    .meeting-form-control,
    .meeting-btn {
        font-size: 1.1rem;
    }
}