body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    /* Espace pour la navbar fixe */
}

.Tittle {
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
    text-transform: uppercase;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
}

.meeting-container {
    width: 100%;
    max-width: 600px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card {
    background-color: #FFAA00;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
    width: 100%;
    margin-bottom: 2rem;
}

.card:hover {
    transform: perspective(1000px) rotateX(5deg) rotateY(5deg) scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header,
.card-body,
.card-footer {
    padding: 1rem;
}

.card-header {
    background-color: #FFAA00;
    position: relative;
    z-index: 1;
}

.card-title {
    font-size: 2rem;
    color: #370617;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.card-subtitle {
    font-size: 2rem;
    color: #370617;
    margin: 0.5rem 0;
    text-align: center;
}

.card-body {
    background-color: #FFAA00;
    position: relative;
    z-index: 1;
    font-size: 1.2rem;
}

.card-section-title {
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 0.5rem;
}

.card-text,
.card-info {
    margin-bottom: 0.75rem;
    color: #000;
}

.card-footer {
    background-color: #FFAA00;
    text-align: center;
    position: relative;
    z-index: 1;
}

.btn-date {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    /* Largeur ajustée pour les boutons */
    height: 55px;
    /* Hauteur ajustée pour les boutons */
    font-size: 1rem;
    /* Taille de police ajustée */
    text-decoration: none;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 0.5rem 0.25rem;
    /* Marge ajustée pour un bon espacement entre les boutons */
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #370617;
    /* Couleur de fond par défaut */
    color: white;
}

.btn-date:hover {
    transform: translateY(-2px);
    background-color: #DC2F02;
    /* Couleur de fond au survol */
}

.btn-action {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    /* Largeur ajustée pour les boutons d'action */
    height: 55px;
    /* Hauteur ajustée pour les boutons d'action */
    font-size: 1rem;
    /* Taille de police ajustée */
    text-decoration: none;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 0.5rem 0.25rem;
    /* Marge ajustée pour un bon espacement entre les boutons */
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-modify {
    background-color: #370617;
    /* Couleur de fond pour le bouton Modifier */
    color: white;
}

.btn-modify:hover {
    background-color: #DC2F02;
    /* Couleur de fond au survol pour le bouton Modifier */
}

.btn-delete {
    background-color: #9D0208;
    /* Couleur de fond pour le bouton Supprimer */
    color: white;
}

.btn-delete:hover {
    background-color: #6A040F;
    /* Couleur de fond au survol pour le bouton Supprimer */
}

.card-footer .btn-container {
    display: flex;
    justify-content: center;
    /* Centrer les boutons sous la carte */
    gap: 10px;
    /* Espace entre les boutons */
    margin-top: 10px;
}

#map {
    width: 100%;
    height: 300px;
    margin-top: 1rem;
    border-radius: 10px;
    overflow: hidden;
}

/* Media queries */
@media (max-width: 768px) {
    body {
        padding-top: 0;
        /* Supprimez l'espace pour la navbar fixe sur mobile */
    }

    .navbar {
        position: static;
        /* La navbar n'est plus fixe sur mobile */
    }

    .card-subtitle {
        font-size: 1.3rem;
    }

    .btn-details {
        padding: 0.4rem 0.8rem;
        font-size: 0.9rem;
    }
}