/* Variables */
:root {
    --primary-color: #FFAA00;
    --secondary-color: #370617;
    --danger-color: #9D0208;
    --hover-color: #DC2F02;
    --text-color: #000;
    --white: #fff;
    --card-color: #0505051a;
}

/* Styles généraux */
body {
    font-size: 16px;
}

.Title {
    text-align: center;
    font-size: 2rem;
    margin: 5rem;
    text-transform: uppercase;
}

/* Layout */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.meeting-container {
    width: 100%;
    max-width: 600px;
    margin: 1rem auto;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Boutons Modifier et Supprimer (même taille) */
.btn-action {

    font-size: 0.85rem;
    /* Même taille de texte pour les deux boutons */
    width: 250px;
    /* Largeur uniforme */
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    /* Centrage horizontal */
}

/* Bouton Retour à la liste (largeur plus grande) */
.btn-large {
    max-width: 400px;
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    text-align: center;
}


/* Centrage de tous les boutons */
.meeting-actions .w-100 a {
    display: block;
    margin: 0 auto;
}
/* Card styles */
.card {
    background-color: var(--card-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    margin-bottom: 2rem;
}

.card-header,
.card-body,
.card-footer {
    padding: 0.75rem 1rem;
    position: relative;
    z-index: 1;
}

.card-Title {
    font-size: 2rem;
    color: var(--secondary-color);
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.card-subTitle {
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin: 0.25rem 0;
    text-align: center;
}

.card-body {
    font-size: 1.2rem;
}

.card-section-Title {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 0.25rem;
}

.card-text,
.card-info {
    margin-bottom: 0.5rem;
    color: var(--text-color);
}


/* Map */
#map {
    width: 48%;
    height: 300px;
    margin: 1rem auto;
    border-radius: 10px;
    overflow: hidden;
}
.meeting-actions {
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
/* Media queries */
@media (max-width: 768px) {
    body {
        padding-top: 0;
    }

    .navbar {
        position: static;
    }

    .card-subTitle {
        font-size: 1.3rem;
    }

}