:root {
    --navbar-height: 60px;
    --primary-color: #FFAA00;
    --secondary-color: #370617;
    --danger-color: #9D0208;
    --hover-color: #DC2F02;
    --text-color: #000;
    --white: #fff;
    --meeting-bg-color: #ffebee;
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: 'Roboto', sans-serif;
    --table-header-bg-color: #03071E;
    --table-stripe-bg: #070d2d;
    --table-border-color: #fff;
    
}

/* General styles */
body {
    padding-top: var(--navbar-height);
    font-family: var(--font-sans);
    color: var(--text-color);
}

/* .content-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
} */


/* User dashboard styles */
.userlist-container {
    padding: 3rem 0;
}

.userlist-container__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.page-title {
    margin-bottom: 1rem;
}

.description {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    text-align: center;
    font-style: italic;
}

.table-responsive {
    background-color: var(--white);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table {
    margin-bottom: 0;
    color: var(--text-color);
    background-color: var(--white);
}

.table th {
    background-color: var(--table-header-bg-color);
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;
}

.table td {
    padding: 1rem;
    vertical-align: middle;
    color: var(--white);
    background-color: var(--table-header-bg-color);
    
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

/* Styles pour les liens utilisateurs avec effet de soulignement */
.user-link {
    position: relative;
    color: var(--white);
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.user-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--white);
    transition: width 0.3s ease;
}

.user-link:hover {
    text-decoration: none !important;
}

.user-link:hover::after {
    width: 100%;
}

.form-select {
    background-color: var(--white);
    color: var(--text-color);
    border: 1px solid var(--secondary-color);
    padding: 0.5rem;
    font-size: 0.9rem;
}

.action-buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

/* Responsive styles */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem !important;
    }

    .description {
        font-size: 1rem;
    }

    .table th,
    .table td {
        padding: 0.75rem;
    }

    .action-buttons {
        flex-direction: column;
    }

    .btn-details,
    .btn-delete {
        width: 100%;
    }
}