.site-footer {
    background-color: #DC2F02;
    color: white;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 10px 20px;
    height: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}

.footer-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-brand {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}

.footer-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.footer-nav .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.footer-nav .nav-item {
    margin-left: 20px;
    position: relative;
}

.footer-nav .nav-item:not(:first-child)::before {
    content: "•";
    position: absolute;
    left: -10px;
    color: white;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    align-items: center;
    transition: opacity 0.3s ease;
    letter-spacing: 0.3px;
}

.footer-link:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-nav .nav-list {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .footer-nav .nav-item {
        margin: 10px 0;
    }
}