body {
    background-color: #FFCD19;
    font-family: 'Roboto', sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-box {
    display: flex;
    width: 900px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.login-content {
    flex: 1;
    padding: 40px;
}

.login-header {
    text-align: left;
    margin-bottom: 30px;
}

h1 {
    font-size: 36px;
    color: #333;
}

h1 strong {
    color: #FFCD19;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    font-size: 16px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.forgot-password {
    color: #aaa;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
}

.btn-login {
    background-color: #D01900;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-signup {
    background-color: transparent;
    color: #FFCD19;
    padding: 15px 30px;
    border: 2px solid #FFCD19;
    border-radius: 5px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #e91e63;
}

.btn-signup:hover {
    background-color: #FFCD19;
    color: white;
}

.login-image {
    flex: 1;
    background-image: url('{{ asset("images/Logo_Téléthon_France.svg) }}');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.btn-login {
    background-color: #D01900;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.btn-signup {
    background-color: transparent;
    color: #FFCD19;
    padding: 15px 30px;
    border: 2px solid #FFCD19;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.btn-login:hover {
    background-color: #FFCD19;
}

.btn-signup:hover {
    background-color: #3f51b5;
    color: white;
}