body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    /* Espace pour la navbar fixe */
}

.Tittle {
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
    text-transform: uppercase;
    
}
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    
}

.meeting-container {
    width: 100%;
    max-width: 600px;
    /* Réduit pour une seule carte */
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
        text-align: center;
}

.card {
    background-color: #FFAA00;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
    width: 100%;
    margin-bottom: 2rem;
}

.card:hover {
    transform: perspective(1000px) rotateX(5deg) rotateY(5deg) scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header,
.card-body,
.card-footer {
    padding: 1rem;
}

.card-header {
    background-color: #FFAA00;
    position: relative;
    z-index: 1;
}

.card-title {
    font-size: 2rem;
    color: #370617;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.card-subtitle {
    font-size: 2rem;
    color: #370617;
    margin: 0.5rem 0;
    text-align: center;
}

.card-body {
    background-color: #FFAA00;
    position: relative;
    z-index: 1;
        font-size: 1.2rem;
}

.card-section-title {
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 0.5rem;
}

.card-text,
.card-info {
    margin-bottom: 0.75rem;
    color: #000;
}

.card-footer {
    background-color: #FFAA00;
    text-align: center;
    position: relative;
    z-index: 1;
}

.btn-details,
.btn-sup {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    /* Largeur fixe pour tous les boutons */
    height: 60px;
    /* Hauteur fixe pour tous les boutons */
    padding: 0 1rem;
    font-size: 1.3rem;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 0.5rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-details {
    background-color: #370617;
    color: white;
}

.btn-sup {
    background-color: #9D0208;
    color: white;
}

.btn-details:hover,
.btn-sup:hover {
    transform: translateY(-2px);
}

.btn-details:hover {
    background-color: #DC2F02;
}

.btn-sup:hover {
    background-color: #6A040F;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 1rem;
}

/* Style pour le bouton dans le formulaire de suppression */
.action-buttons form {
    display: inline-flex;
}

.action-buttons form button {
    width: 200px;
    height: 60px;
}
#map {
    width: 100%;
    height: 300px;
    margin-top: 1rem;
    border-radius: 10px;
    overflow: hidden;
}
/* Media queries */
@media (max-width: 768px) {
    body {
        padding-top: 0;
        /* Supprimez l'espace pour la navbar fixe sur mobile */
    }

    .navbar {
        position: static;
        /* La navbar n'est plus fixe sur mobile */
    }

    .card-subtitle {
        font-size: 1.3rem;
    }

    .btn-details {
        padding: 0.4rem 0.8rem;
        font-size: 0.9rem;
    }
}