body {
    margin-top: 5rem;
}

.user-edit-page {
    --user-primary-color: #370617;
    --user-secondary-color: #DC2F02;
    --user-bg-color: #f8f9fa;
    --user-text-color: #333;
    padding: 2rem 0;
    background-color: var(--user-bg-color);
    color: var(--user-text-color);
}

.user-edit-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;
}

.user-edit-card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow:
        0 8px 16px rgba(0, 0, 0, 0.1),
        0 16px 32px rgba(0, 0, 0, 0.1),
        0 4px 8px rgba(255, 255, 255, 0.1) inset;
    overflow: hidden;
    margin-bottom: 2rem;
}

.user-edit-card-header {
    background-color: var(--user-primary-color);
    color: #fff;
    padding: 1.5rem;
}

.user-edit-card-body {
    padding: 1.5rem;
}

.user-edit-card-footer {
    background-color: #f1f3f5;
    padding: 1.5rem;
}

.user-edit-form-group {
    margin-bottom: 1.5rem;
}

.user-edit-form-label {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    display: block;
    color: var(--user-primary-color);
}

.user-edit-form-control {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 50px;
}

.password-input-group {
    position: relative;
    display: flex;
    align-items: center;
}

.password-input {
    flex-grow: 1;
}

.toggle-password-visibility {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {

    .user-edit-form-label,
    .user-edit-form-control {
        font-size: 1.1rem;
    }
}