.container {
    flex: 1;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 1.5rem;
    box-sizing: border-box;
}

.Title {
    text-align: center;
    font-size: 1.9rem;
    margin: 2rem 0;
    text-transform: uppercase;
}

.card {
    background-color: #0505051a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
    width: 100%;
    margin-bottom: 2rem;
    padding: 1.5rem;
    position: relative;
}

.card-header,
.card-body {
    padding: 1.2rem;
}

.card-title {
    font-size: 2rem;
    color: #370617;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #370617;
}

.form-control {
    width: 100%;
    height: 60px;
    /* Même hauteur que les boutons */
    padding: 0 1rem;
    /* Ajusté pour correspondre aux boutons */
    font-size: 1.2rem;
    /* Même taille de police que les boutons */
    border: 1px solid #370617;
    border-radius: 8px;
    /* Même border-radius que les boutons */
    background-color: #fff;
    box-sizing: border-box;
    /* Inclut padding et border dans la hauteur */
}

.alert {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-size: 1rem;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

@media (max-width: 768px) {

    .card-body,
    .form-group label,
    .form-control {
        font-size: 1.1rem;
        /* Taille de police cohérente pour les petits écrans */
    }
}