{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel utilisateur
{% endblock %}

{% block body %}
<div class="page1">
	<div class="container1">
		<h1>Créer un nouvel utilisateur</h1>

		<div class="cards2">
			<div class="cards2-header">
				<h2>Détails de l'utilisateur</h2>
			</div>
			<div class="cards2-body">
				{% include 'user/_form.html.twig' with {
                    'button_label': 'Créer l\'utilisateur',
                    'form_class': 'user-admin-form'
                } %}
            </div>
            <div class="cards2-footer">
                <div class="action-buttons">
                    <button type="submit" form="user_form" class="btn-details">
                        <i class="fas fa-plus-circle"></i>
                        Créer l'utilisateur
                    </button>
                    <a href="{{ path('app_user_index') }}" class="btn-delete">
                        <i class="fas fa-times-circle"></i>
                        Annuler
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
